<div class="container w-100">
  <div class="row">
    <div class="left-col d-block border-1">
      <div class="d-flex flex-column">
        <div class="d-flex flex-column mb-2">
          <span class="d-block m-2 text-left">User: {{user.username}}</span>
          <div class="d-block mb-2 text-left">
            <span class="d-inline-block ml-2" *ngIf="user.firstName !== null">Name: {{user.firstName}}</span>
            <span class="d-inline-block ml-2" *ngIf="user.lastName !== null">{{user.lastName}}</span>
          </div>

        </div>
        <div class="d-block mb-3 clearfix" style="height: 200px; width: 200px">
          <img class="img-thumbnail bordered float-left mx-auto d-block mb-1" src="/assets/images/unnamed.jpg" alt="Avatar">
        </div>
        <div class="d-block ml-2"><a class="mb-2 mt-2" routerLink="../edit/:id">Edit</a></div>
        <div class="d-flex flex-column mb-3">
          <div *ngIf="user.birthDate.length > 3"><span class="d-block m-2">Birthday: {{user.birthDate}}</span></div>
          <div *ngIf="user.phoneNumber !== null"><span class="d-block m-2">Phone number: {{user.phoneNumber}}</span></div>
          <div *ngIf="user.studyFirst !== null"><span class="d-block m-2">School: {{user.studyFirst}}</span></div>
          <div *ngIf="user.studySecond !== null"><span class="d-block m-2">University: {{user.studySecond}}</span></div>
          <div *ngIf="user.studyThird !== null"><span class="d-block m-2">University: {{user.studyThird}}</span></div>
        </div>
      </div>
    </div>
    <div class="right-col"></div>
  </div>
</div>
