<div class="container border border-success rounded-left bg-info mb-3" *ngFor="let user of users">
  <span class="d-block m-1 text-center text-uppercase font-weight-bold">User Info:</span>
  <div class="d-block text-white">
    <div class="d-inline-block m-2">
      <span class="text-center mb-2">Name info: </span>
      <ul class="mt-2">
        <li class="mb-1"><span *ngIf="user.firstName !== undefined || user.lastName !== undefined">
        Name: {{user.firstName}} {{user.lastName}}</span></li>
        <li class="mb-1"><span *ngIf="user.username !== undefined">Username: {{user.username}}</span></li>
        <li><span>User role: {{user.role}}</span></li>
      </ul>
    </div>
    <div class="d-inline-block m-2">
      <span class="text-center mb-2">Personal data info: </span>
      <ul class="mt-2">
        <li class="mb-1"><span *ngIf="user.birthDate !== undefined">Birthday: {{user.birthDate}}</span></li>
        <li class="mb-1"><span *ngIf="user.phoneNumber !== undefined">Phone number: {{user.phoneNumber}}</span></li>
        <li><span *ngIf="user.address !== undefined">Address: {{user.address}}</span></li>
      </ul>
    </div>
    <div class="d-block m-2" *ngIf="user.school !== undefined">
      <span class="text-center mb-2">Study info: </span>
      <div *ngIf="user.school !== undefined">School:{{user.school}}</div>
      <table class="table table-striped" *ngIf="user.universityFirst !== undefined">
        <thead>
          <tr>
            <th scope="col">Place of study</th>
            <th scope="col">Faculty</th>
            <th scope="col">Course</th>
            <th scope="col">From-To</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="user.universityFirst !== undefined">
            <td>{{user.universityFirst}}</td>
            <td>{{user.facultyFirst}}</td>
            <td>{{user.courseFirst}}</td>
            <td>{{user.studyFirstDateFrom}}-{{user.studyFirstDateTo}}</td>
          </tr>
          <tr *ngIf="user.universitySecond !== undefined">
            <td>{{user.universitySecond}}</td>
            <td>{{user.facultySecond}}</td>
            <td>{{user.courseSecond}}</td>
            <td>{{user.studySecondDateFrom}}-{{user.studySecondDateTo}}</td>
          </tr>
          <tr *ngIf="user.universityThird !== undefined">
            <td>{{user.universityThird}}</td>
            <td>{{user.facultyThird}}</td>
            <td>{{user.courseThird}}</td>
            <td>{{user.studyThirdDateFrom}}-{{user.studyThirdDateTo}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="d-block mb-2">
    <button (click)="openDialog(user.id)" type="button" class="btn btn-warning mr-1"
            *ngIf="this.currentUser.user.id === user.id || this.currentUser.user.role === isAdmin">Edit User</button>
    <button (click)="deleteUser(user.id)" *ngIf="this.currentUser.user.role === isAdmin"
            type="button" class="btn btn-danger ml-1">Delete User</button>
  </div>
</div>
