<div class="container mw-100 mb-2">
  <div class="row align-items-stretch">
    <div class="left-col d-block border-right border-dark mw-50 mr-2 pr-3 rounded-right">
      <div class="d-flex flex-column">
        <div class="d-flex flex-column mb-2">
          <span class="d-block m-2 text-left">User: {{user.username}}</span>
        </div>
        <div class="d-block mb-3 clearfix" style="height: 200px; width: 200px">
          <img class="img-thumbnail bordered float-left mx-auto d-block mb-1" src="/assets/images/unnamed.jpg" alt="Avatar">
        </div>
        <button class="btn btn-warning d-block mb-2" (click)="openDialog(this.user.id, this.isAdd =false)">Edit</button>
        <div class="d-flex flex-column mb-3">
          <div *ngIf="user.birthDate !== undefined"><span class="d-block m-2">Birthday: {{user.birthDate}}</span></div>
          <div *ngIf="user.phoneNumber !== undefined"><span class="d-block m-2">Phone number: {{user.phoneNumber}}</span></div>
        </div>
      </div>
    </div>
    <div class="right-col ml-3 d-block border-right mw-50 border-left border-dark rounded">
      <h2 class="mt-2 d-block text-uppercase text-center text-bold">User Info</h2>
      <div class="d-block mb-2 text-left mt-3">
        <span class="d-inline-block ml-2" *ngIf="user.firstName !== undefined">Name: {{user.firstName}}</span>
        <span class="d-inline-block ml-1" *ngIf="user.lastName !== undefined"> {{user.lastName}}</span>
      </div>
      <div class="d-flex flex-column mb-3">
        <div *ngIf="user.address !== undefined"><span class="d-block m-2">Address: {{user.address}}</span></div>
        <div *ngIf="user.school !== undefined"><span class="d-block m-2">School: {{user.school}}</span></div>
      </div>
    </div>
    <div class="right-col d-block border-top mw-100 border-bottom border-dark rounded">
      <h2 class="mt-2 d-block text-uppercase text-center text-bold">User Study</h2>
      <div class="d-flex flex-collum ml-2">
        <table class="table table-striped"
               *ngIf="user.universityFirst !== undefined || user.universitySecond !== undefined || user.universityThird !== undefined">
          <thead>
          <tr>
            <th scope="col">Place of study</th>
            <th scope="col">Faculty</th>
            <th scope="col">Course</th>
            <th scope="col">From-To</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngIf="user.universityFirst !== undefined">
            <td>{{user.universityFirst}}</td>
            <td>{{user.facultyFirst}}</td>
            <td>{{user.courseFirst}}</td>
            <td>{{user.studyFirstDateFrom}}-{{user.studyFirstDateTo}}</td>
          </tr>
          <tr *ngIf="user.universitySecond !== undefined">
            <td>{{user.universitySecond}}</td>
            <td>{{user.facultySecond}}</td>
            <td>{{user.courseSecond}}</td>
            <td>{{user.studySecondDateFrom}}-{{user.studySecondDateTo}}</td>
          </tr>
          <tr *ngIf="user.universityThird !== undefined">
            <td>{{user.universityThird}}</td>
            <td>{{user.facultyThird}}</td>
            <td>{{user.courseThird}}</td>
            <td>{{user.studyThirdDateFrom}}-{{user.studyThirdDateTo}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
