.container
  .first
    display: block
    width: 100%
    flex: 0 1 48%
    button
      width: 200px
  .second
    display: block
    flex: 0 1 48%
    width: 100%
  .third
    display: block
    width: 100%
    flex: 1 1 100%
