.header
  display: block
  width: 100%
  height: 50px
  background: linear-gradient(to right, #d7a480, #e1bf32)
  .header-container
    max-width: 2000px
    height: 50px
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    align-content: center
    justify-content: space-between
    align-items: center
    border-bottom: 1px solid #422917
    margin: 0
    .header-left
      display: inline-block
      a
        color: inherit
        display: block
        width: 170px
        margin: 0 0 0 20px
        line-height: 50px
        height: 50px
      a:hover
        background: linear-gradient(to right, #cca180, #d0bd71)
        border: 1px solid #422917
      .header-logo
        display: inline-block
        width: 50px
        height: 50px
        line-height: 50px
        margin: 0
        .icon-size
          font-size: 40px
      .header-title
        display: inline-block
        font-size: 35px
        line-height: 50px
    .header-right
      display: inline-block
      text-align: right
      .header-user
        display: inline-block
        width: 200px
        line-height: 25px
        .header-avatar
          display: inline-block
          position: relative
          cursor: pointer
          a
            color: inherit
          span
            display: inline-block
            font-size: 26px
            margin: 0 0 0 15px
            vertical-align: super
          .icon-size
            font-size: 40px
          ul
            display: block
            margin: 5px 0 0 0
            left: 3%
            padding: 2px
            width: 155px
            position: absolute
            background: linear-gradient(to right, #d7a480, #e1bf32)
            li
              list-style-type: none
              font-size: 24px
              border-bottom: 1px solid black
              margin: 2px
            li:hover
              background: linear-gradient(to right, #de9460, #c5a621)
            a
              color: inherit
              display: block
              width: 100%
      .header-language
        display: inline-block
        position: relative
        font-size: 26px
        margin: 0 15px
        line-height: 50px
        vertical-align: bottom
        cursor: pointer
        ul
          display: block
          margin: 9px 0 0 0
          z-index: 50
          left: -3%
          padding: 2px
          width: 70px
          position: absolute
          background: linear-gradient(to right, #d7a480, #e1bf32)
          li
            list-style-type: none
            font-size: 24px
            border-bottom: 1px solid black
            margin: 2px
          li:hover
            background: linear-gradient(to right, #de9460, #c5a621)
          a
            color: inherit
            display: block
            width: 100%
